

body, html {
    margin: 0;
    padding:0;
    /* background-color: #dfdfdf; */
    overflow-y: overlay;
}

/* .body {
    display: flex;
    flex-direction: column;
    align-content: center;
} */

#ghost-div {
    height: 60px !important;
}

label {
    padding-left: 10px;
    margin-top: 10px;
}

nav {
    position: fixed !important ;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar {
    background-color: rgb(230, 230, 230) !important;
}
#navbarNav {
    background-color: rgb(230, 230, 230);
}

ul {
    margin-right: 40px;
}

#cartIcon {
    position: relative;
}

#cartCount {
    position: absolute;
    background-color: rgb(87, 185, 209);
    border-radius: 50%;
    line-height: 1.5em;
    width: 20px;
    height: 20px;
    color:white;
    right: 0;
    top: 2px;
    font-size: 0.8em;
    text-align: center;
}

#product-list {
    width: 100%;
}

.card-body {
    position: relative;
    padding-bottom: 70px;
}

.cart-add {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.card-text {
    position: absolute;
    bottom: 16px;
    padding-bottom: 4px;
}

.card{
    border: 1px solid transparent;
}

.card:hover{
    border: 1px solid rgb(207, 207, 207);
}

a, a:hover{
    color: unset;
    text-decoration: none;
}


.bi-pencil-square:hover {
    fill: #37e640;
}

.bi-trash:hover {
    fill: #DA4567;
}

.message {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    display: flex;
    justify-content:center;
    pointer-events: none;
    opacity: 0;
}

.message-animation {
    animation: autoHide 2.0s linear;
}

@keyframes autoHide {
    0% {
        transform:translateY(-60px);
        opacity: 100;
    }
    10% {
        transform:translateY(0);
        opacity: 100;
    }
    90% {
        transform:translateY(0);
        opacity: 100;
    }
    100% {
        transform:translateY(-60px);
        opacity: 100;
    }
}
