.card:hover{
    border: none;
}

.message {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content:center;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.message-animation {
    animation: autoHide 2.0s linear;
}

@keyframes autoHide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    90% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}